<style>
        body {
            background-image: url("https://i.pinimg.com/originals/bd/72/d1/bd72d10c741dde2ce2684577ffa0d86f.gif");
            background-size: cover;
            min-height: 50vh;
        }

        .content {
            border: 3px solid palevioletred; 
            border-radius: 15px;
            padding: 10px; 
            text-align: center; 
            max-width: 350px; 
            margin: auto;
            margin-top: 15%;
            background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/f4d7f940327117.577b56e116a17.gif");
        }
        .content input{
            padding: 8px 30px;
            border-radius: 15px;
            border-color: palevioletred;
        }
        .content button{
            border-radius: 15px;
            margin-top: 3%;
        }
    </style>